:root {
    --black: #000000;
    --red: #ff0000;
    --white: #ffffff;
}

.form {
    display: flex;
    flex-flow: column;
    width: fit-content;
    gap: 10px;
}

.main {
    display: flex;
    flex-flow: column;
}

.accent-bg {
    background-color: var(--red);
    color: var(--white);
}

.btn {
    text-decoration: none;
}

.bold-btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
}
